---
import { useSanityClient } from "astro-sanity";
import PortableText from "../../components/PortableText.astro";
import HtmlWrapper from "../../layouts/HtmlWrapper.astro";

const fetchPost = async () => {
  const post = await useSanityClient().fetch(`
    *[_type == "post" && slug.current == "${Astro.params.slug}"][0] {
      slug,
      asset,
      title,
      body,
      "imageUrl": mainImage.asset->url
    }
  `);

  return post;
};

const { title, body, description, imageUrl } = await fetchPost();

const seo = {
  title,
  description,
  image: imageUrl,
};
---

<HtmlWrapper seo={seo}>
  <a href="/">go back</a>

  <h1>{title}</h1>

  <img
    src={imageUrl}
    alt=""
    style={{
      maxWidth: "20rem",
      maxHeight: "20rem",
    }}
  />

  <PortableText portableText={body} />
</HtmlWrapper>
